# Code alongs - python fundamentals 1

In [2]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat: pear

In [3]:
age = input("Give me your age: ")
print(f"In five years you are {age + 5} age years old")

TypeError: can only concatenate str (not "int") to str

In [4]:
# tuple
# in jupyter notebook: the __repr__ of the object instance is outputted for the last line
age, type(age)

('32', str)

In [7]:
age = 33
loves_math = True
type(age), age, loves_math

(int, 33, True)

In [8]:
print(f"{loves_math = }")

loves_math = True

## Collection
- list
- tuples
- sets
- dictionary

In [10]:
# list of one data type only
interests = ["badminton", "yoga", "math", "programming"]

# list of mixed data types
person = ["Marcus", 32, True]

In [12]:
type(person), type(person[1])

(list, int)

### Slicing and indexing

In [13]:
interests[1:3]

['yoga', 'math']

In [25]:
interests[-1], interests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [27]:
person.append(interests)
person

['Marcus',
 32,
 True,
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming'],
 ['badminton', 'yoga', 'math', 'programming']]

In [29]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [30]:
person_interests = person[-1]
person_interests[-2]

'math'

### Iterate over lists

In [32]:
# pythonic - idomatic python
for interest in person_interests:
    print(interest)
    
# java: 
# for (int i = 0; < person_interests.length; i++){
#   System.out.println(person_interests[i])
#}

print("\nDont't do this")
for i in range(len(person_interests)):
    print(person_interests[i])

badminton
yoga
math
programming

Dont't do this
badminton
yoga
math
programming

In [33]:
# not pythonic
for i in range(len(person_interests)):
    print(i + 1, person_interests[i])

1 badminton
2 yoga
3 math
4 programming

In [37]:
# pythonic
# enumerate with i+1
for i, interest in enumerate(person_interests):
    print(i+1, interest)

print("\n")

# enumerate cleaner writing
for i, interest in enumerate(person_interests, 1):
    print(i, interest)

1 badminton
2 yoga
3 math
4 programming


1 badminton
2 yoga
3 math
4 programming

### list creation

- append
- list comprehension

In [38]:
numbers = []

for i in range(10):
    numbers.append(i)
    
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
square = [i**2 for i in numbers]
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
cube = [i**3 for i in numbers]
cube

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [50]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even
odd_numbers_squared = [i**2 for i in numbers if i % 2]
odd_numbers_squared

[1, 9, 25, 49, 81]

### Dictionary

- key: value pairs

In [51]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_platfomr": 40,
    "data_modeling": 30,
    "visualization": 40,
}

courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_platfomr': 40,
 'data_modeling': 30,
 'visualization': 40}

In [52]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platfomr', 'data_modeling', 'visualization'])

In [53]:
len(courses.keys())

6

In [54]:
courses.values()

dict_values([40, 15, 30, 40, 30, 40])

In [56]:
for course in courses:
    print(course, courses[course])

python 40
agile 15
sql 30
data_platfomr 40
data_modeling 30
visualization 40

In [64]:
print(f"{'Course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

Course               Points
python               40
agile                15
sql                  30
data_platfomr        40
data_modeling        30
visualization        40

### Strings

In [65]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [66]:
ml_term.strip()

'sUperVised   Learning'

In [67]:
ml_term.split()

['sUperVised', 'Learning']

In [71]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'